
RewriteOptions inherit
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)\.html$ /$1 [L,R=301] 

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:qajyve
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE qajyve:ERRORPAGEID

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:vaGaLy
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE vaGaLy:ERRORPAGEID

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:hyPePa
ErrorDocument 401 /401.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE hyPePa:ERRORPAGEID

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:qeJaPa
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE qeJaPa:ERRORPAGEID

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:aHeHuh
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aHeHuh:ERRORPAGEID
RewriteCond %{HTTP_HOST} ^bvpieeend\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bvpieeend\.com$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^team2020$ "https\:\/\/docs\.google\.com\/forms\/d\/e\/1FAIpQLSdD1hkCIdS0BxlxMAL2Crt568JCySt8liwcGHZ4WEtyZNQhow\/viewform\?usp\=sf_link" [R=301,L]
RewriteCond %{HTTP_HOST} ^bvpieeend\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bvpieeend\.com$
RewriteRule ^teaming_up$ "https\:\/\/docs\.google\.com\/forms\/d\/e\/1FAIpQLSeiUW2oFZpD4KHZcroDeEqde02qjhnAZIMbCjWnTq73rUWnCA\/viewform\?usp\=sf_link" [R=301,L]
RewriteCond %{HTTP_HOST} ^bvpieeend\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bvpieeend\.com$
RewriteRule ^openings$ "https\:\/\/docs\.google\.com\/document\/d\/1JAK15CpMlvhQbQB42_0fsR1mY6q7vBAk6KKC\-BQwA3w\/edit\?usp\=sharing" [R=301,L]
RewriteCond %{HTTP_HOST} ^bvpieeend\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bvpieeend\.com$
RewriteRule ^RESUME_BUILDING$ "https\:\/\/youtu\.be\/YSLX0kIU68Q" [R=301,L]
RewriteCond %{HTTP_HOST} ^bvpieeend\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bvpieeend\.com$
RewriteRule ^wiequest$ "https\:\/\/forms\.gle\/mPGuQ9oUZa5Pvwjv6" [R=301,L]
